@import url('https://fonts.googleapis.com/css?family=Lora');

html {
  font-size: 16px;
  font-family: 'Lora', serif;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

main {
  width: 100%;
}

aside {
  height: 90vh;
  width: 20%;
  background-color: #fff;
  border: 2px solid black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 24vh;
  background-image: url('./assets/rainbow.jpg');
  background-size: cover;
}

h1 {
  font-size: 4rem;
  color: #fff;
}

.color-container {
  height: 84vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 2px solid black;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  background-color: blue;
  height: 90vh;
  width: 20%;
}

.two {
  background-color: red;
  height: 90vh;
  width: 20%;
}

.three {
  background-color: coral;
  height: 90vh;
  width: 20%;
}

.four {
  background-color: green;
  height: 90vh;
  width: 20%;
}

.five {
  background-color: pink;
  height: 90vh;
  width: 20%;
}

.save {
  background-image: url('./assets/unlock.svg');
  background-size: cover;
  background-color: none;
  height: 1rem;
  width: 1rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.01);
}


.locked-btn {
  background-image: url('./assets/lock.png');
}

.project-options,
.new-project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-options {
  margin: .5rem;
  width: 10.5rem;
  font-family: 'Lora', serif;
}

input {
  margin: .5rem;
  width: 10rem;
  font-family: 'Lora', serif;
}

button {
  width: 10.5rem;
  font-family: 'Lora', serif;
  color: white;
  background-color: black;
  height: 30px;
  margin: .5rem;
  border: none;
  font-size: 1.2rem;
  padding: 3px;
}

h2 {
  padding: 3px;
}

.generate-btn {
  margin-top: 1rem;
}

button:hover {
  background-color: #00A638;
}
